<header class="navigation" role="banner">
  <!-- max-width modify by doorisopen 19-08-16 -->
  <div class="navigation-wrapper" style="max-width: -webkit-calc(980px - (30px * 2)); max-width: calc(980px - (30px * 2)); ">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link">
            <strong>
              <a style="color: #3ab5b0" href="https://doorisopen.github.io/developers-library/">CS Repo</a>
            </strong>
          </li>
        {% for page in site.pages %}
          {% if page.title and page.main_nav != false %}
          <li class="nav-link"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
<div class="header-line"></div>
